.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
body {
  margin: 0;

  box-sizing: border-box;
}
header img {
  display: block;
  margin:auto;
 padding-top: 3rem
 


}



.landing {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  font-size: larger;
  

}
.gallery,
.gallery2 {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 80px;
  
}

.gallery,
.gallery2 img {
  height: 4rem;
}
.gallery,
.gallery2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 0, 0, 0.4906337535014006) 69%
  );

  background-repeat: no-repeat;
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}
.gallery2 {
  margin-top: 0;
}


.container {
  margin: 5rem 0.8rem 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin: 5rem 0rem;
  width: 100vw;
  
}
.designs {
  background-color: lightgrey;
  /* 8 rem */
  width: 8rem;
 
  margin-top: 3rem;
  justify-content: center;
  text-align: center;
  margin: 0%;
  border: purple solid 0.2rem;
  
}

.imagens {
  background-color: white;
  padding-top: 1rem;
  
 
}
article:nth-of-type(2).col-5 {
  
  height: 6rem;
  display: inline-block;
  
}


main { display: flex; flex-wrap: wrap;}

.grid-item1 {
  background-color: blueviolet;
}

.grid2 {
  display: grid;
  height: 10rem;
  width: 86vw;
  margin-left: -0.5rem;
 

 
}
.grid3 {
 
  grid-column: span 3;
}

.container2-2 {
  height: 100px;
  display: grid;

}
.container2 { margin-left: 0.5rem;
overflow: hidden;}



section:first-of-type { background-color: aqua;}